.hudBarContainer img {
    z-index: 1;
    height: 10vw;
}

.text {
    font-family: 'RocknRoll One';
    position: absolute;
    left: -1em;
    top: -1.7em;
    width: 100%;
    font-size: 1.2em;
    white-space: nowrap;
}

.hudBar {
    display: flex;
    background-color: #EDAB00;
    border-radius: 10px;
    border: solid 3px white;
    padding: 5px;
    padding-left: 2vw;
    margin-left: -4vw;
    height: fit-content;
    margin-top: -5px;
}

.boxProgress {
    background-color: #FFFF55;
    width: 1.6vw;
    height: 1.6vw;
    margin-right: 5px;
    opacity: 0.4;
}

.boxProgress.active {
    opacity: 1;
}

.hudProgress {
    padding: 5px 12px;
    padding-left: 2.4vw;
    width: 12vw;
    position: relative;
}

.hudProgress>div {
    color: white;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 1.2em;
    padding-right: 0.5em;
}
.hudProgress>.boxProgress{
    background-color: #FFFF55;
    position: absolute;
    max-width: calc(100% - 24px);
    height: calc(100% - 10px);
    right: 12px;
    left: 12px;
    padding: 0;
    top: 5px;
    bottom: 5px;
}

@media screen and (max-width: 768px) {
    .text {
        font-size: .7em;
    }
    .hudProgress>div {
        font-size: 0.5em;
    }
}